@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-main: #0a1920;
    --clr-bg-hover: #163241;
    --clr-a-border: hsla(0, 0%, 100%, 0.733);
    --clr-btn: rgba(0, 0, 0, 0);
    --clr-btn-hover: rgba(20, 20, 20, 0.397);
}

html,
body {
    font-family: "Varela Round", sans-serif;
    /* height: 100vh; */
}

.about-container {
    display: grid;
    grid-template-columns: 2fr;
    /* background-color: #232323; */
    /* grid-template-rows: repeat(3, 1fr); */
    /* gap: 1rem; */
    /* padding: 4rem 12rem; */
    margin: auto;
    color: black;
    text-align: center;
}

.sub-about {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.sub-about-container {
    padding: 2rem;
}

ul {
    list-style: none;
}

.about-container img:not(.lines) {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    /* background-color: rgb(170, 169, 169); */
    /* padding: 2rem 0; */
    /* border-radius: 4px; */
    /* border: 2px solid white; */
    box-shadow: 0 4px 20px -5px black;
}

.about-container .about-video{
    width:80%;
    margin: auto;
    max-width: 1200px;
}

.about-container iframe {
    /* border: 2px solid grey; */
    border-radius: 12px;
}

.about-container h1 {
    margin-bottom: 1rem;
}

.main-about {
    background-color: #232323;
    padding: 4rem 0;
    position: relative;
    overflow-x: hidden;
    /* border-radius: 4px; */
}

.main-about .lines {
    width: 25%;
    height: auto;
    position: absolute;
    z-index: 0;
    right: -12.5%;
    top: 5%;
    opacity: 0.8;
}

.about-description .about-text {
    max-width: 700px;
    margin: auto;
    line-height: 1.5;
    color: rgb(211, 211, 211);
}

.about-description .about-title {
    font-size: 2.525rem;
    font-weight: bold;
    color: white;
}

.about-description {
    padding-bottom: 3rem;
    /* color: white; */
    letter-spacing: 1px;
}

.about-description .fa-quote-left {
    margin-right: 12px;
    /* display: block; */
    text-align: left;
}

.about-description .fa-quote-right {
    margin-left: 12px;
    /* display: block; */
    text-align: right;
}

.about-description .fa-quote-left,
.about-description .fa-quote-right {
    color: rgb(150, 150, 150);
}

.motto-description {
    text-align: center;
    /* background-color: rgb(224, 224, 224); */
    padding: 4rem 0;
    border-radius: 4px;
    /* color: black; */
}

.motto-description .motto-title {
    font-size: 2rem;
    letter-spacing: 2px;
    color: black;
}

.motto-description .motto-text {
    font-size: 1.825rem;
    word-spacing: 8px;
    letter-spacing: 4px;
    font-family: "Lobster", cursive;
    color: rgb(56, 144, 252);
}

.goal-description,
.vision-description {
    text-align: left;
    line-height: 1.5;
}

.goal-img,
.vision-img {
    background-color: rgb(240, 240, 240);
    padding: 2rem 0;
    /* border-radius: 4px; */
}

.goal-title,
.vision-title {
    font-size: 1.525rem;
    letter-spacing: 1px;
}

.goal-text,
.vision-text {
    font-size: 1.045rem;
    color: rgb(82, 82, 82);
}

.techtix-container{
    background-color: rgb(224, 224, 224);
    padding:2rem;
}

.techtix {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.techtix .techtix-description,
.techtix .event-video {
    width: 100%;
}

.techtix iframe {
    margin: auto;
    box-shadow: 0 4px 16px -4px black;
}

.techtix .techtix-description {
    text-align: left;
    line-height: 1.5;
    font-size: 1.045rem;
}

.techtix .event-main-title {
    font-size: 1.875rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    position: relative;
}
.techtix .event-main-title::after {
    content:'';
    width:60%;
    height: 2px;
    background: linear-gradient(to right,#0a1920 20%, grey 20%, grey);
    position: absolute;
    top:100%;
    left:0;
}

.techtix .event-title {
    font-size: 1.475rem;
    margin-bottom: 0.75rem;
    letter-spacing: 1px;
}

.techtix .part-techtix {
    color: var(--clr-main);
    font-weight: bold;
    outline: 2px solid grey;
    padding: 3px 8px;
}

/* .techtix .techtix-description {
    text-align: left;
    line-height: 1.5;
    font-size: 1.045rem;
} */

.techtix .techtix-description ul {
    margin: 0.75rem 0;
    color: rgb(42, 109, 191);
    font-weight: bold;
}
